<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="styesheet" type="text/css" href="/css/style.css">
  </head>

  <body>
    <h1>The hackathon management application on the web</h1>
    <p>Gonna put something here at some point</p>
  </body>
<html>
