<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hackathon Manager</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="styesheet" type="text/css" href="/stylessheets/style.css">
  </head>

  <body>
    <h1>The hackathon management application on the web</h1>
    <p>Gonna put something here at some point</p>
  </body>
<html>
