<!DOCTYPE html>
<html>
  <head>
    <title>Hackathon Manager</title>
  </head>
  <body>
    <h1>Hackathon management made easy and on the web!</h1>
    <p>There's gonna be stuff in here eventually</p>
  </body>
</html>
